# IntelliJ IDEA
.idea/

# Default ignored files
/shelf/

# Editor-based HTTP Client requests
/httpRequests/

# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

# Virtual environment
venv/

# Pytest cache
.pytest_cache/

# sensitive data
gov-info-backend\app\config.py
gov-info-backend\app\database
gov-info-backend\.gitignore
