# IntelliJ IDEA
.idea/

# Default ignored files
/shelf/

# Datasource local storage ignored files
info_bot_backend/application/ressources/

# Virtual environment
.venv/

# Pytest cache
.pytest_cache/
gov-info-frontend/package-lock.json
__pycache__/

# sensitive data
.env
.idea
info_bot_backend/.env
info_bot_backend/application/database/
info_bot_backend/application/resources/
info_bot_frontend/node_modules/
info_bot_frontend/.angular/
