<div id="chat-page">
  <div class="chat-container">
    <div class="chat-header">
      Chatbot
    </div>
    <ul id="messageArea">
      <li *ngFor="let msg of messages" [ngClass]="{'user-message': msg.sender === 'user', 'bot-message': msg.sender === 'bot'}">
        {{ msg.text }}
      </li>
    </ul>
    <form id="messageForm" name="messageForm" (ngSubmit)="sendMessage()">
      <input type="text" id="message" [(ngModel)]="message" name="message" placeholder="Sende eine Nachricht an den Chatbot" autocomplete="off" required />
      <button type="submit">Senden</button>
    </form>
  </div>
</div>
