<div id="chat-page">
    <div class="chat-container">
        <div class="chat-header">
            Chatbot
        </div>
        <div class="connecting">
            Connecting...
        </div>
        <ul id="messageArea">
            <li class="user-message">Benutzernachricht hier</li>
            <li class="bot-message">Antwort des Chatbots hier</li>
        </ul>
        <form id="messageForm" name="messageForm">
            <input type="text" id="message" placeholder="Sende eine Nachricht an den Chatbot" autocomplete="off" />
            <button type="submit">Senden</button>
        </form>
    </div>
</div>
